<nav class="menue">
  <ul> 
    <li> https://github.com/MariaLopezG/CSC317-Assignment-5/blob/a517aaa2aec400bfc4eeb2e74f469ce520fae945/index.html </li>
    <li> https://github.com/MariaLopezG/CSC317-Assignment-5/blob/a517aaa2aec400bfc4eeb2e74f469ce520fae945/views/two.html </li>
    <li> https://github.com/MariaLopezG/CSC317-Assignment-5/blob/a517aaa2aec400bfc4eeb2e74f469ce520fae945/views/three.html </li>
  </ul>
</nav>
<h1>SVG Animation is easy!</h1>
<body>
  <img src="resources/page-three.svg">
</body>

