<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="minimal-table.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Table</h1>
    <table>
      <tr>
        <td>Name</td>
        <td>Patricia</td>
        <td>Andrea</td>
        <td>Claudia</td>
        <td>Laura</td>
      </tr>
      <tr>
        <td>Major</td>
        <td>Computer science</td>
        <td>Psycology</td>
        <td>International studies</td>
        <td>Economy</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>21</td>
        <td>19</td>
        <td>20</td>
        <td>22</td>
      </tr>
      
    </table>  

  </body>
</html>

