
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="minimal-table.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <img src="resources/banner.svg"/>
    <!-- Navigation Menu -->
    <nav class="menue">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./views/two.html">Page Two</a></li>
            <li><a href="./views/three.html">Page Three</a></li>
        </ul>
    </nav>
    <h1>Favorite Coding recources</h1>
    <h1>Table</h1>
    <table>
      <caption>
        Group of friends information:
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Major</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Patricia</td>
          <td>Computer science</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Andrea</td>
          <td>Psycology</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Claudia</td>
          <td>International studies</td>      
          <td>22</td>
        </tr>
        <tr>
          <td>Laura</td>
          <td>Economy</td>                
          <td>21</td>
        </tr>
      </tbody>
    </table>  

  </body>
</html>

