<img src="resources/banner.svg"/>
<nav class="menue">
  <ul> 
    <li> https://github.com/MariaLopezG/CSC317-Assignment-5/blob/a517aaa2aec400bfc4eeb2e74f469ce520fae945/index.html </li>
    <li> https://github.com/MariaLopezG/CSC317-Assignment-5/blob/a517aaa2aec400bfc4eeb2e74f469ce520fae945/views/two.html </li>
    <li> https://github.com/MariaLopezG/CSC317-Assignment-5/blob/a517aaa2aec400bfc4eeb2e74f469ce520fae945/views/three.html </li>
  </ul>
</nav>
<h1>Favorite Coding recources</h1>

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="minimal-table.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Table</h1>
    <table>
      <caption>
        Group of friends information:
      </caption>
      <tr>
        <th>Name</th>
        <th>Major</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Patricia</td>
        <td>Computer science</td>
        <td>19</td>
      </tr>
      <tr>
        <td>Andrea</td>
        <td>Psycology</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Claudia</td>
        <td>International studies</td>      
        <td>22</td>
      </tr>
      <tr>
        <td>Laura</td>
        <td>Economy</td>                
        <td>21</td>
      </tr>
    </table>  

  </body>
</html>

